<body style="background-color: white;">
    <div class="container">
        <p></p>
    </div>

<div class=" container" id="dbtForm">
    <div class="row mx-2">
        <div class="col-3 border border-dark border-2 fw-bold text-center">
            Date: <br><span id="pdfDate">{{data.date}}</span>
        </div>
        <div class="col-3 border border-dark border-2 fw-bold text-center">
             First Name: <br>{{user.first_name}}
        </div>
        <div class="col-3 border border-dark border-2 fw-bold text-center">
             Last Name: <br>{{user.last_name}}
        </div>
        <div class="col-3 border border-dark border-2 text-center fw-bold" style="padding-left: 0;">
            Provider Name: {{user.healthPro}}
            <br>
            Institution: {{user.institution}}
        </div>

    </div>

    <div class="row mx-2">
        <div class="col-12 border border-dark border-2 table-responsive-md">
            <table class="table h-100">
                <thead>
                    <tr>
                        <th scope="col">Urge to Self Harm</th>
                        <th scope="col">Urge to Use</th>
                        <th scope="col">Suicidal Thoughts</th>
                        <th scope="col">Compassion</th>
                        <th scope="col">Self-Acceptance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.selfharm_grade}}</td>
                        <td>{{data.use_grade}}</td>
                        <td>{{data.suicidal_thoughts_grade}}</td>
                        <td>{{data.ovrl_emotion_grade}}</td>
                        <td>{{data.self_accept_grade}}</td>
                    </tr>
                </tbody>
                <thead>
                    <th scope="col">Anger</th>
                    <th scope="col">Joy</th>
                    <th scope="col">Shame</th>
                    <th scope="col">Sadness</th>
                    <th scope="col">Fear</th>
                </thead>
                <tbody>
                    <td>{{data.anger_grade}}</td>
                    <td>{{data.joy_grade}}</td>
                    <td>{{data.shame_grade}}</td>
                    <td>{{data.sadness_grade}}</td>
                    <td>{{data.fear_grade}}</td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mx-2" style="height: 200px;">

        <div class="col-2 border border-dark border-2 text-center fw-bold" style="padding: 0; padding-top: 75px; margin-left: 0px;">Notes:</div>
        <div class="col-10 border border-dark border-2">{{data.notes}}</div>
    </div>

</div>
<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
<button type="button" class="btn btnColor btn-lrg" id="printBtn">Save as PDF</button>
</div>

<script src="./js/pdfForm.js"></script>
</body>